* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ABeeZee", sans-serif;
}

#app {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-columns: auto minmax(0, 1fr);
  height: 100vh;
  max-height: 100%;
  position: relative;
}
